@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
body {
    color: #f4f4f4;
    background-color: #181818;
    overflow-x: hidden;
  }
  
  /* Scrollbar styles */
  body::-webkit-scrollbar {
    width: 0.25rem;
  }
  
  body::-webkit-scrollbar-track {
    background: #1e1e24;
  }
  
  body::-webkit-scrollbar-thumb {
    background: #6649b8;
  }
  p:first-letter, span:first-letter {
    text-transform: uppercase;
  }