@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
body {
    color: #f4f4f4;
    background-color: #181818;
    overflow-x: hidden;
  }
  
  /* Scrollbar styles */
  *::-webkit-scrollbar {
    width: 0.25rem;
  }
  
  *::-webkit-scrollbar-track {
    background: #1e1e24;
  }
  
  *::-webkit-scrollbar-thumb {
    background: #6649b8;
  }
  p:first-letter, span:first-letter {
    text-transform: uppercase;
  }
  #faq{
    background-color: transparent;
    border:none;
    border-bottom: 1px solid gray;
  }
  #faq:focus{
    box-shadow: 0 0 #0000;
  }